html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: rgb(139, 195, 139);
}
header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
header h2 {
    margin-top: -1%;
    font-size: 20px;
}
.profile-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid white;
    margin-left: -30%;
    margin-bottom: -7%;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}
nav a {
    text-decoration: none;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1%;
}
nav a:hover {
    transform: scale(1.1);
}
section {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    margin: 0.5%;
}
.projects {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: inline-block;
}
.projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.projects {
    transition: transform 0.1s ease;
}
.projects:hover {
    transform: scale(1.05);
}
.contact-info a {
    text-decoration: none;
    color: inherit;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}